html{
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
body{
    margin: 0;
    padding: 0;
}
i{
    cursor: pointer;
}
/* -------  HEADER   ---------*/
.header{
    user-select: none;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0px;
    border-bottom: solid 1px #000;
    text-align: center;
}
h1{
    width: 90%;
    margin: 0;
}
.header i{
    font-size: 1.5em;
    cursor: pointer;
    
}
.bounce{
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-delay:1s;
    
}


/* PRODUCTOS */
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 0px;
}
.item{
    display:flex;
    flex-direction: column;
    margin:0.5em 2px;
    padding:0.5em;
    width:11%;
    border: solid 1px #000;
    border-radius: 0.5em;
}

.item > h4{
    margin: 0.5em 0;
}
.item > p{
    margin-top:  0;
}
.botonAgregar{
    margin-top: auto;
    width:100%;
    height: 2em;
    justify-content: space-around;
}
.botonAgregar i{
    width: 100%;
}
.greenbtn{
    display: flex;
    background-color: cadetblue;
    color:white;
    border: none;
    align-items: center;
    border-radius: 0.5em;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.item > img{
    width:100%;
}



/*Carrito*/
.cart-container{
    display: none;
    justify-content: end;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.cart{
    display:flex;
    flex-direction: column;
    padding: 0em 2em;
    width: 25%;
    height: 100%;
    background-color: white;
}

.cart-header{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 0.2em;
}
.cart-header h3{
    margin: 0.5em;
}
.cart-header i {
    margin-right: 1em;
    cursor: pointer;
}
.cart-products{
    margin-top: 0;
    overflow: auto;
    margin-bottom: 0.5em;
}
.sendbtn p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    font-size: larger;
}
.sendbtn{
    width: 100%;
    margin-bottom: 1em;
}
.cart-onbottom{
    margin-top: auto;
}
.cart-total{
    justify-content: space-between;
}
.cart-total p{
    font-size: 1.3em;
    font-weight: bold;
}
.cart-item{
    margin-top: 0;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.cart-item img{
    width: 20%;
}
.cart-item-info{
    width: 50%;
}
.cart-item-info h4{
    margin: 0;
}
.cart-item-info p{
    margin: 0.2em 0;
}
.cart-item-units{
    width: 25%;
    margin-left: auto;
}
.cart-item-contador{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: cadetblue;
    border-radius: 0.5em;
}
.cart-item-contador i{
    padding-left: 0.2em;
    height: 100%;
    width: 100%;
    font-size: larger;
}
.cart-item-contador p{
    margin: 0.5em;
}


.cart-total{
    margin-top: auto;
    display: flex;
}
/* MEDIUM */
@media (max-width: 1000px){
    .item{
        width:calc(25% - 22px);
    }
    .cart{
        width: 50%;
    }
}

/*Media query*/
@media (max-width: 768px){
    .item{
        width:calc(50% - 22px);
    }
    .cart{
        width: 100%;
    }
    .products{
        margin: 0 5%;
    }
    .cart{
        padding: 0em 1em;
    }
}

@keyframes bounce {
    0%  {transform: translateY(0px);}
    50% {transform: translateY(-10px);}
    100%  {transform: translateY(0px);}
}



