html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
/* -------  HEADER   ---------*/
.header{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0px;
    border-bottom: solid 1px #000;
    text-align: center;
}
h1{
    width: 90%;
    margin: 0;
}
.header i{
    font-size: 1.5em;
    cursor: pointer;
}


/* PRODUCTOS */
.products{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 10px;
}
.item{
    display:flex;
    flex-direction: column;
    margin:2px;
    padding:0.5em;
    width:10%;
    border: solid 1px #000;
    border-radius: 1%;
}

.item > h4{
    margin: 0.5em 0;
}
.item > p{
    margin-top:  0;
}
.botonAgregar{
    margin-top: auto;
    width:100%;
    height: 2em;
    justify-content: space-around;
}

.greenbtn{
    display: flex;
    background-color: cadetblue;
    color:white;
    border: none;
    align-items: center;
    border-radius: 0.5em;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.item > img{
    width:100%;
}



/*Carrito*/
.cart-container{
    display: none;
    justify-content: end;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.cart{
    display:flex;
    flex-direction: column;
    padding: 0em 2em;
    width: 25%;
    height: 100%;
    background-color: white;
}

.cart-header{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}
.cart-header i {
    margin-right: 1em;
    cursor: pointer;
}

.sendbtn p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    font-size: larger;
}
.sendbtn{
    margin-top: auto;
    margin-bottom: 1em;
}


/* MEDIUM */
@media (max-width: 1000px){
    .item{
        width:calc(25% - 22px);
    }
    .cart{
        width: 50%;
    }
}

/*Media query*/
@media (max-width: 768px){
    .item{
        width:calc(50% - 22px);
    }
    .cart{
        width: 100%;
    }
    .products{
        margin: 0 5%;
    }
}

